#
# ignore core files
##
**core.*
##./**core.*
.ipynb_checkpoints
##
## and local .o
##
*.o
##
## Lab specific
##
checkalign
mdriver
# .nfs files are created when an open file is removed but is still being accessed
.nfs*
